html {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100vh;
  background-image: url(./pattern-06.jpg);
  background-size: cover;
  font-family: "Permanent Marker", cursive;
}

h1 {
  text-align: center;
  padding: 0em;
  font-size: 4em;
  color: #e3de4f;
  text-decoration: underline;
}
/* GAME BOARD */
#board {
  padding: 1em;
  border-radius: 1em;
  width: 25em;
  height: 25em;
  text-align: center;
  background-image: linear-gradient(to bottom right, #f8a4d8, #6c63ff);
  opacity: 80%;
  margin: auto;
}
/* BOARD CELLS */
.row > div {
  float: left;
  height: 2em;
  width: 2em;
  text-align: center;
  font-size: 4em;
  line-height: 2em;
  color: white;
}

.row {
  clear: both;
  margin: auto;
  width: 400px;
}

.top {
  border-bottom: 7px solid white;
}

.bottom {
  border-top: 7px solid white;
}

.left {
  border-right: 7px solid white;
}

.right {
  border-left: 7px solid white;
}

.top:hover,
.middle:hover,
.bottom:hover {
  cursor: pointer;
}
/*WINNER ANNOUNCEMENT*/
.winner {
  position: relative;
  top: -5em;
  left: 5px;
  color: #b40998;
  font-size: 3em;
  text-align: center;
  font-weight: bolder;
  background: pink;
  display: inline-block;
}
/*NEW GAME BUTTON*/
#newGame {
  box-shadow: inset 0px 1px 0px 0px #fbafe3;
  background: linear-gradient(to bottom, #ed57a7 5%, #ef027d 100%);
  background-color: #ed57a7;
  border-radius: 17px;
  border: 1px solid #ee1eb5;
  margin-top: 2em;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 29px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #c70067;
}
#newGame:hover {
  background: linear-gradient(to bottom, #ef027d 5%, #ed57a7 100%);
  background-color: #ef027d;
}
